* {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a:link {
  color: #A3B3BF; }

a:visted {
  color: #083451; }

p {
  text-align: left;
  text-decoration: none;
  color: #A3B3BF;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 1em;
  line-height: 25px;
  margin-top: 10px;
  text-align: center; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center; }

li {
  margin-right: 10px;
  color: #A3B3BF;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 0.85em;
  line-height: 3em; }

h1 {
  color: #083451;
  text-transform: uppercase;
  font-family: 'Oswald', Verdana, sans-serif;
  font-size: 4em;
  text-align: center; }

.stripe {
  background: #888; }

.active {
  color: #FFFFFF;
  background: #083451;
  transition: all 0.5s;
  padding: 1em; }

.active:hover {
  padding-left: 20px; }

/*Lets hide the non active LIs by default*/
#accordian ul ul {
  display: none; }

#accordian li.active ul {
  display: block; }

#accordian li p {
  display: block; }

#accordian p.active li {
  display: none; }
