* {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body {
  background-color: #F4F7D9; }

header {
  background-color: #009393;
  padding-bottom: 10px; }

a:link {
  color: #A4CFBE; }

a:visted {
  color: #417378; }

p {
  text-align: left;
  text-decoration: none;
  color: #F4F7D9;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 1em;
  line-height: 25px;
  margin-top: 10px;
  text-align: center; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  width: 100%; }

li {
  margin-right: 10px;
  color: #A4CFBE;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 0.85em;
  line-height: 3em; }

h1 {
  color: #F4F7D9;
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 4em;
  text-align: center; }

h2 {
  color: #417378;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 2em;
  text-align: center; }

h4 {
  color: #417378;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 1em;
  text-align: center;
  padding-bottom: 10px; }

.stripe {
  background: #A4CFBE; }

.active {
  color: #F4F7D9;
  background: #417378;
  transition: all 0.8s;
  padding: 1em;
  -webkit-transition: height 0.4s ease-out;
  -moz-transition: height 0.4s ease-out;
  -o-transition: height 0.4s ease-out;
  transition: height 0.4s ease-out; }

h3:hover {
  padding-left: 40px;
  padding-top: 10px;
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 2em;
  color: #F4F7D9; }

/*Lets hide the non active LIs by default*/
#accordian ul ul {
  display: none; }

#accordian li.active ul {
  display: block; }

#accordian li p {
  display: block; }

#accordian p.active li {
  display: none; }
