$dark-blue: #417378;
$white: #F4F7D9;
$light-blue: #00A388;
$light-gray: #A4CFBE;
$dark-gray: #00A388;
$background-color: #F4F7D9;
$header: #009393;
$primary-heading: 'Raleway', Verdana, sans-serif;
$secondary-heading: 'Open Sans', Verdana, sans-serif;


* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

header {
  background-color: $header;
  padding-bottom: 10px;
}

a:link {
  color: $light-gray;
}

a:visted {
  color: $dark-blue;
}

p {
  text-align: left;
  text-decoration: none;
  color: $white;
  font-family: $secondary-heading;
  font-size: 1em;
  line-height: 25px;
  margin-top: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

li {
  margin-right: 10px;
  color: $light-gray;
  font-family: $secondary-heading;
  font-size: 0.85em;
  line-height: 3em;
}

h1 {
  color: $white;
  font-family: $primary-heading;
  font-size: 4em;
  text-align: center;
}

h2 {
  color: $dark-blue;
  font-family: $secondary-heading;
  font-size: 2em;
  text-align: center;
}

h4 {
  color: $dark-blue;
  font-family: $secondary-heading;
  font-size: 1em;
  text-align: center;
  padding-bottom: 10px;
}

.stripe {
  background: $light-gray;
}

.active {
  color: $white;
  background: $dark-blue;
  transition: all .8s;
  padding: 1em;
  -webkit-transition:height 0.4s ease-out;
     -moz-transition:height 0.4s ease-out;
     -o-transition:height 0.4s ease-out;
     transition:height 0.4s ease-out;

}

h3:hover {
  padding-left: 40px;
  padding-top: 10px;
  font-family: $primary-heading;
  font-size: 2em;
  color: $white;
} // This H3 styling hover should be nested inside the h3 tag base style above

/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none; // Why is this line indented so much?
}

#accordian li.active ul {
	display: block; // Why is this line indented so much?
}

#accordian li p {
  display: block;
}

#accordian p.active li {
  display: none;
}

// All of the above #accordian styles should be nested. Scss gives us some cool tools, we should be sure to use them
