<html>
  <head>
    <meta charset='utf8'>
    <title>Welcome to the FunderDOM</title>
  </head>
  <body>
    <header>
      <h1>F<em>under</em>DOM</h1>
        <hr>
    </header>

  <section id='main'>
    <nav>
      <ul>
        <li>About</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </nav>

    <div id='nameTarget'>
        </div>

      

    <div id='colorTarget'>
        </div>



  </section>

  <script id= 'nameTemplate' type="text/template">
        <p><%= name %></p>
  </script>

  <script id= 'colorTemplate' type="text/template">
        <p><%= color %></p>
  </script>

  <script src='underscore/underscore.js' ></script>
  <script src='scripts/main.js'          ></script>
</body>
</html>
